@import "tailwindcss";

@theme {
   --font-primary: "Poppins", "sans-serif";;
  --color-primary: #3A4980;
  --color-baseWhite: #FFFf;
  --color-baseBlack: #000;
  --color-baseGray: #9E9E9E;
  

}

body {
  font-family: var(--font-primary);
}